@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
}

.svg-size {
  width: 18px;
  height: 18px;
}

.dropdown-button-size {
  width: auto;
  height: 34px;
}

.default-container {
  max-width: 1440px;
}

.slider-container {
  max-width: 1360px;
  height: 500px;
  margin: auto;
}
